.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.section {
  margin-left: 202px;
  padding: 20px;
  background-color: transparent;
}

.navbar-no-shadow-container {
  z-index: 5;
  width: 100%;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 10px;
  background-color: #da251d;
}

.container-regular {
  width: 100%;
  max-width: 1260px;
  min-height: 30px;
  margin-right: auto;
  margin-left: auto;
}

.navbar-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #da251d;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-link {
  margin-right: 5px;
  margin-left: 5px;
  padding: 5px 10px;
  font-family: Roboto, sans-serif;
  color: #1a1b1f;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 0.25px;
  text-decoration: none;
}

.nav-link:hover {
  color: rgba(26, 27, 31, 0.75);
}

.nav-link:focus-visible {
  border-radius: 4px;
  outline-color: #0050bd;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
  color: #0050bd;
}

.nav-link[data-wf-focus-visible] {
  border-radius: 4px;
  outline-color: #0050bd;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
  color: #0050bd;
}

.nav-dropdown {
  margin-right: 5px;
  margin-left: 5px;
}

.nav-dropdown-toggle {
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
}

.nav-dropdown-toggle:hover {
  color: rgba(26, 27, 31, 0.75);
}

.nav-dropdown-toggle:focus-visible {
  border-radius: 5px;
  outline-color: #0050bd;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
  color: #0050bd;
}

.nav-dropdown-toggle[data-wf-focus-visible] {
  border-radius: 5px;
  outline-color: #0050bd;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
  color: #0050bd;
}

.nav-dropdown-icon {
  margin-right: 10px;
}

.nav-dropdown-list {
  border-radius: 12px;
  background-color: #fff;
}

.nav-dropdown-list.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-link {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link:focus-visible {
  border-radius: 5px;
  outline-color: #0050bd;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
  color: #0050bd;
}

.nav-dropdown-link[data-wf-focus-visible] {
  border-radius: 5px;
  outline-color: #0050bd;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
  color: #0050bd;
}

.nav-button-wrapper {
  margin-left: 120px;
}

.button-primary {
  padding: 5px 25px;
  background-color: #1a1b1f;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button-primary:hover {
  background-color: #32343a;
  color: #fff;
}

.button-primary:active {
  background-color: #43464d;
}

.grid {
  grid-column-gap: 21px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.div-block {
  display: block;
  overflow: visible;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  text-decoration: none;
}

.vietnam-flag {
  position: relative;
  overflow: hidden;
  padding: 10px;
  border-radius: 3px;
  background-image: linear-gradient(225deg, #d1893a, #cec232);
  text-align: center;
  cursor: pointer;
}

.saigon {
  display: block;
  width: 25px;
  height: 2px;
  margin: 5px auto;
  border-radius: 1px;
  background-color: #fff;
}

.image-2 {
  box-shadow: 6px 6px 10px 4px #da251d;
}

.heading {
  padding-top: 0px;
}

.image-3 {
  display: block;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.columns {
  margin-top: 50px;
}

.heading-2 {
  margin-top: 0px;
  font-family: Roboto, sans-serif;
  color: #da251d;
  font-weight: 500;
  text-align: left;
}

.grid-2 {
  margin-top: 44px;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 22px auto;
  grid-template-rows: 22px auto;
  color: #2d50b1;
}

.heading-3 {
  font-family: Roboto, sans-serif;
}

.heading-4 {
  font-family: Roboto, sans-serif;
}

.heading-5 {
  font-family: Roboto, sans-serif;
}

.heading-6 {
  color: #da251d;
}

.heading-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  padding-right: 10px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Roboto, sans-serif;
  text-align: center;
}

.container {
  display: block;
  max-width: 550px;
  margin-top: 48px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.grid-3 {
  margin-top: 45px;
  grid-column-gap: 0px;
  -ms-grid-columns: 1fr 2fr 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 40px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.image-5 {
  display: none;
}

.image-6 {
  display: none;
}

.image-7 {
  display: none;
}

@media screen and (min-width: 1440px) {
  .section {
    margin-top: 20px;
    margin-right: 50px;
    margin-left: 220px;
    background-color: #fff;
  }

  .image-3 {
    box-shadow: 4px 4px 10px 0 #000;
  }

  .container {
    max-width: 600px;
    margin-top: -13px;
  }

  .column {
    position: static;
    margin-top: 65px;
    padding-left: 0px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 991px) {
  .section {
    margin-left: 36px;
  }

  .navbar-no-shadow-container {
    height: 100.00000605507502%;
  }

  .nav-menu-wrapper {
    background-color: transparent;
  }

  .nav-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0px;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(188, 194, 80, 0.68);
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
    background-image: linear-gradient(180deg, transparent, transparent);
  }

  .nav-link {
    padding-right: 5px;
    padding-left: 5px;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: absolute;
  }

  .nav-button-wrapper {
    width: 100%;
    margin-left: 0px;
  }

  .menu-button {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px;
    background-color: #f00e12;
  }

  .menu-button.w--open {
    background-color: #a6b1bf;
    color: #fff;
  }

  .menu-button-2 {
    margin-left: 0px;
    padding: 0px;
    background-color: #fff;
  }

  .menu-button-2.w--open {
    background-color: #a6b1bf;
    color: #fff;
  }

  .vietnam-flag {
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
    background-image: linear-gradient(225deg, #fffb17, #cec232);
  }

  .saigon {
    width: 30px;
    height: 3px;
    background-color: #c8102e;
  }

  .grid-2 {
    margin-top: 20px;
  }

  .container {
    margin-top: 81px;
  }

  .grid-3 {
    margin-top: 20px;
  }
}

@media screen and (max-width: 767px) {
  .section {
    margin-left: 18px;
    background-color: transparent;
  }

  .navbar-brand {
    padding-left: 0px;
  }

  .nav-menu {
    padding-bottom: 30px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .nav-link {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .nav-dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list.shadow-three {
    box-shadow: 0 8px 50px 0 rgba(0, 0, 0, 0.05);
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .mobile-margin-top-10 {
    margin-top: 10px;
  }

  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .columns {
    margin-top: 50px;
    padding-top: 0px;
  }

  .heading-2 {
    margin-right: -15px;
  }

  .grid-2 {
    margin-top: 9px;
    margin-right: -72px;
    padding-right: 0px;
  }

  .container {
    margin-top: 37px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0px;
    padding-left: 0px;
  }

  .grid-3 {
    margin-top: 17px;
    margin-right: -56px;
  }

  .column {
    margin-top: 15px;
  }
}

@media screen and (max-width: 479px) {
  .section {
    margin-left: 0px;
    padding-left: 14px;
  }

  .nav-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .nav-button-wrapper {
    width: auto;
  }

  .menu-button {
    background-color: #da251d;
  }

  .menu-button-2 {
    background-color: #fff;
  }

  .vietnam-flag {
    padding-top: 3px;
    padding-bottom: 3px;
    background-image: linear-gradient(225deg, #fffb17, #cec232);
  }

  .saigon {
    background-color: #c8102e;
  }

  .image {
    margin-top: 2px;
  }

  .image-3 {
    margin-top: -50px;
    margin-left: 4px;
  }

  .heading-2 {
    margin-right: 0px;
  }

  .grid-2 {
    margin-right: -10px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .container {
    padding-left: 0px;
  }

  .grid-3 {
    margin-right: 0px;
  }

  .column {
    margin-top: -1px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .image-4 {
    margin-right: 92px;
    padding-right: 0px;
  }

  .image-5 {
    display: none;
    margin-top: -50px;
  }

  .image-7 {
    display: none;
    margin-top: -50px;
  }
}

#w-node-a27566ac-b72d-9288-a0b5-5df0266af084-14a3a5ee {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ea06b6a6-6ffe-ed4b-7b35-5cb244ac4b81-14a3a5ee {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_63563f39-386d-920d-521e-e98c4d77f6cd-14a3a5ee {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ddaa5303-ef5d-73ee-52e7-ae41329c1009-14a3a5ee {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d35546c7-5534-99c9-8c2b-8c599d6136df-14a3a5ee {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_860443ec-3b79-cef4-651e-115be2d9bd47-14a3a5ee {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_8cf53d49-7e43-36cc-00ed-4942f4ad58d3-14a3a5ee {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

@media screen and (max-width: 767px) {
  #w-node-ddaa5303-ef5d-73ee-52e7-ae41329c1009-14a3a5ee {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}

